<h1>New fileclip</h1>

<% form_for(@fileclip,:html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

 <p>
 	<%=  f.file_field :f  %>
 </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fileclips_path %>