<html>
	<head><title>Test Templates</title></head>

<body>
   	<h1>Hello world</h1>           
	<p>Find my at layout/cms_templates/browser.html.erb</p>
	<p>Created at April 26,2009 by xhan</p>
<p>Updated at May 1 ,2009 by xhan</p>

<%= sticker_tag :xhan %>
<%= sticker_tag :bar %>
<%= sticker_tag :ID_275162_ %>

 
</body>

</html>
